.dashboard-editor-container{
  padding: 32px;
  .block-group{
    background: #fff;
    margin-bottom: 20px;
    .block-title{
      display: flex;
      justify-content: space-between;
      .el-button{
        padding: 3px 0;
      }
    }
    .item-ul{
      margin: 0;
      padding: 0 10px;
      li{
        padding: 8px 0;
        margin: 0;
        list-style: none;
        cursor: pointer;
        &.readed-li{
          color: #de0000;
        }
        span{
          display: inline-block;
          margin-right: 15px;
        }
      }
    }
    .grid-content{
      height: 100px;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      background-color: #f8f8f8;
      margin-bottom: 8px;
      padding:20px;
      cursor: pointer;
      &:hover {
        transition: all 0.2s ease-out;
        color: #fff;
        background: #36a3f7;
      }
    }
  }
  .panel-group {
    /*margin-top: 18px;*/
    .card-panel-col{
      margin-bottom: 32px;
    }
    .card-panel {
      cursor: pointer;
      padding: 15px 20px;
      font-size: 12px;
      position: relative;
      overflow: hidden;
      color: #666;
      background: #fff;
      box-shadow: 4px 4px 40px rgba(0, 0, 0, .05);
      border-color: rgba(0, 0, 0, .05);
      &:hover {
        .card-panel-icon-wrapper {
          color: #fff;
        }
      }
      .card-panel-icon-wrapper {
        margin: 10px 0;
        transition: all 0.38s ease-out;
        border-radius: 6px;
      }
      .card-image{
        width: 100%;
        max-width: 280px;
        margin: auto;
        height: 180px;
        border: 1px solid #d0d0d0;
        background-position: center;
        background-size: cover;
      }
      .card-panel-icon {
        font-size: 48px;
      }
      .card-panel-description {
        font-weight: bold;
        margin-top:12px;
        .card-panel-text {
          line-height: 24px;
          color: rgba(0, 0, 0, 0.45);
          font-size: 16px;
        }
        .card-panel-text-red {
          color: #de0000
        }
        .card-panel-num {
          font-size: 20px;
        }
      }
    }
  }
  .line-chart-box{
    .el-col{
      margin: 15px 0;
    }
  }
}